.footer_wrapper {
    @extend %flex_row;
    justify-content: space-around;
    padding: 30px 0 50px 0;
    .icon {
        @extend %flex;
        align-items: center;
        .img {
            padding: 0 15px;
        }
        .instagram{
            padding-top: 4px;
        }
    }
    p {
        font-size: $text_size_b;
        font-weight: 700;
        line-height: 18px;
        color: $color_grey;
        a {
            color: $color_grey;
        }
    }
}