.app_wrapper {
    .app_content {
        .create {
            h3 {
                font-family: "Montserrat";
            }
            h4 {
                font-family: "Montserrat";
            }
            p {
                font-family: "Montserrat";
            }
        }
    }
    h2 {
        font-family: "Poppins";
    }
}
.check_wrapper {
    .checkout {
        h3 {
            font-family: "Montserrat";
        }
        h4 {
            font-family: "Montserrat";
        }
        p {
            font-family: "Montserrat";
        }
    }
}
.content_wrapper {
    h2 {
        font-family: "Montserrat";
    }
    h1 {
        font-family: "Poppins";
    }
    p {
        font-family: "Montserrat";
    }
    .button {
        a {
            font-family: "Montserrat";
        }
    }
}
.download_wrapper {
    h2 {
        font-family: "Montserrat";
    }
    p {
        font-family: "Montserrat";
    }
    .button {
        a {
            font-family: "Montserrat";
        }
    }
}
.explore_wrapper {
    .explore_varieties {
        h3 {
            font-family: "Montserrat";
        }
        h4 {
            font-family: "Montserrat";
        }
        p {
            font-family: "Montserrat";
        }
    }
}
.footer_wrapper {
    p {
        font-family: "Roboto";
    }
}
.navigation_wrapper {
    nav {
        label{
            font-family: "Montserrat";
        }
        ul {
            li {
                a {
                    font-family: "Montserrat";
                }
            }
        }
    }
}