$text_size_a:10px;
$text_size_b:12px;
$text_size_c:14px;
$text_size_d:16px;
$text_size_e:18px;
$text_size_f:20px;
$text_size_g:22px;
$text_size_h:24px;
$text_size_i:30px;
$text_size_j:32px;
$text_size_k:34px;
$text_size_l:36px;
$text_size_m:40px;
$text_size_n:44px;
$text_size_o:58px;
$color_orange:#FA4A0C;
$color_blue:#252B42;
$color_white:#FFFFFF;
$color_grey:#737373;